<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senmol.mes.warehouse.mapper.StockMapper">

    <update id="subModifyBatch">
        UPDATE warehouse_stock
        SET qty =
            CASE
                <foreach collection="stocks" item="stock">
                    WHEN id = #{stock.id} THEN GREATEST(qty - #{stock.qty}, 0)
                </foreach>
                ELSE qty
            END,
            update_time = #{updateTime},
            update_user = #{updateUser}
        WHERE
            id IN (
            <foreach collection="stocks" item="stock" separator=",">
                #{stock.id}
            </foreach>
        )
          AND deleted = 0
    </update>

    <update id="addModifyBatch">
        UPDATE warehouse_stock
        SET qty =
            CASE
                <foreach collection="stocks" item="stock">
                    WHEN id = #{stock.id} THEN qty + #{stock.qty}
                </foreach>
                ELSE qty
            END,
            update_time = #{updateTime},
            update_user = #{updateUser}
        WHERE
            id IN (
                <foreach collection="stocks" item="stock" separator=",">
                    #{stock.id}
                </foreach>
            )
          AND deleted = 0
    </update>

</mapper>

